.profile {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 400px);
  margin: 40px auto 0 auto;
}

@media screen and (max-width: 1054px) {
  .profile {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 38px);
  }
}
