.elements__like {
  width: 22px;
  height: 19px;
  margin-left: auto;
  margin-top: 5px;
  background: url(../../../images/Like.svg) center no-repeat;
  background-size: cover;
  border: none;
  transition: 0.2s;
}

.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
